body {
  color: #b6b6b6;
  background-color: #141418;
  margin: 0;
  padding: 0;
}
/* header ul a {
  border-radius: 0px;
  border: 1px solid var(--clr-dark-light);
  box-shadow: inset 0 0 10px var(--clr-dark-light);
} */

body {
  background: #141418;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30ff00);
}

.container {
  margin: 20px;
  margin-top: 4rem;
}
