@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--clr-green-dark);
}

main {
    position: relative;
    background-color: var(--clr-bg);
    height: 100vh;
    /* overflow: hidden; */
    width: 100%;
    z-index: 1;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(cubic-bezier(0.215, 0.41, 0.325, 0.99));
}
.fog_big_bg {
    position: absolute;
    top: 0;
    left: 52%;
    width: 100%;
    opacity: 0.08;
    z-index: 1;
}
.rock-hills {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 2;
}

/* fog cornering standalone rock */
.fog_1 {
    position: absolute;
    top: 38%;
    left: 50%;
    opacity: 0.2;
    width: 100%;
    scale: 0.4;
    z-index: 6;
}
.rock-standalone {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    scale: 0.65;
    z-index: 7;
}
.fog_1a {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.4;
    width: 100%;
    scale: 0.4;
    z-index: 8;
}
.low_wide_fog {
    position: absolute;
    top: 135%;
    left: 70%;
    scale: 1.4;
    width: 100%;
    opacity: 0.4;
    z-index: 8;
}
.gnu-mascot {
    position: absolute;
    top: 20%;
    left: 52%;
    width: 100%;
    scale: 0.17;
    z-index: 9;
    pointer-events: all;
}
.gnu-mascot:hover {
    scale: 0.18;
    transition: 1s cubic-bezier(cubic-bezier(0.215, 0.41, 0.325, 0.99));
    cursor: pointer;
}

.fog_2 {
    position: absolute;
    top: 58%;
    left: 65%;
    width: 150%;
    opacity: 0.2;
    z-index: 4;
}

.sun_rays {
    position: absolute;
    z-index: 19;
    top: 0%;
    right: 0%;
    /* width: 595px; */
    width: 60%;
    opacity: 0.2;
    pointer-events: none;
}

.black_shadow {
    position: absolute;
    z-index: 20;
    /* bottom: 0%; */
    top: 0%;
    left: 0%;
    /* right: 0%; */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.vignette {
    position: absolute;
    z-index: 21;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.7) 100%
    );
    pointer-events: none;
}

@media (max-width: 1100px) {
    .text h1 {
        font-size: 6.2rem;
    }

    .text h2 {
        font-size: 5rem;
    }
    .bg-img {
        width: initial;
        height: 355%;
    }

    .mountain_1 {
        width: initial;
        height: 100%;
        top: 80%;
    }

    .mountain_2 {
        width: initial;
        height: 100%;
        top: 100%;
    }

    .mountain_3 {
        width: initial;
        height: 100%;
        top: 80%;
    }

    .mountain_4 {
        width: initial;
        height: 100%;
        top: 104%;
    }

    .mountain_5 {
        width: initial;
        height: 100%;
        top: 95%;
    }

    .mountain_6 {
        width: initial;
        height: 100%;
        top: 70%;
    }

    .mountain_7 {
        width: initial;
        height: 100%;
        top: 60%;
    }

    .mountain_8 {
        width: initial;
        height: 100%;
        top: 62%;
    }

    .mountain_9 {
        width: initial;
        height: 100%;
        top: 64%;
    }

    .mountain_10 {
        width: initial;
        height: 100%;
        top: 56%;
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.2rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 80px;
    }

    header ul a {
        padding: 0 0.9rem;
        font-size: 0.73rem;
    }

    .search a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;
    }

    .hamburger a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 520px) {
    .text h1 {
        font-size: 3.9rem;
    }

    .text h2 {
        font-size: 3.5rem;
    }

    .mountain_1 {
        top: 80%;
    }

    .mountain_2 {
        top: 90%;
    }

    .mountain_3 {
        top: 80%;
    }

    .mountain_4 {
        top: 94%;
    }

    .mountain_5 {
        top: 85%;
    }

    .mountain_6 {
        top: 60%;
    }

    .mountain_7 {
        top: 50%;
    }

    .mountain_8 {
        top: 50%;
    }

    .mountain_9 {
        top: 50%;
    }

    .mountain_10 {
        top: 50%;
    }
}

@media (max-width: 420px) {
    .text h1 {
        font-size: 3.5rem;
    }

    .text h2 {
        font-size: 3rem;
    }

    /* responsive main on mobile */
}

#dotsCanvas,
#starsCanvas,
#auroraCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    /* background-color: red; */
    z-index: 22;
}

.portfolio-label {
    position: absolute;
    color: black;
    background-color: white;
    z-index: 230;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; /* Initially hidden */
    transform: translate(-50%, -50%); /* Center the label */
}
/* 
const arrayColors = ["#eee", "#545454", "#5F6A6A", "#A6ACAF", "#2C3E50"]; 

*/

.banner {
    height: 120vh;
    width: 180vw;
    margin-left: -40vw;
    margin-top: -10vh;
}

.text {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 200%;
    z-index: 9;
    text-align: center;
    /* text-transform: uppercase; */
    pointer-events: auto;
    color: var(--clr-white);
}

.text h2 {
    font-weight: 500;
    font-size: 0.5rem;
}

.text h1 {
    font-weight: 50;
    font-size: 1rem;
    line-height: 0.88;
}
