@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--clr-green-dark);
}

main {
    position: relative;
    background-color: var(--clr-bg);
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(cubic-bezier(0.215, 0.41, 0.325, 0.99));
}

.rock-hills {
    position: absolute;
    width: 100%;
    z-index: 2;
}

/* fog cornering standalone rock */
.fog_1 {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    z-index: 6;
}
.rock-standalone {
    position: absolute;
    width: 100%;
    z-index: 7;
}
.fog_1a {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    z-index: 8;
}
.low_wide_fog {
    position: absolute;
    width: 100%;
    opacity: 0.4;
    z-index: 8;
}
.gnu-mascot {
    position: absolute;
    width: 100%;
    z-index: 9;
    pointer-events: all;
}
.gnu-mascot:hover {
    scale: 0.18;
    transition: 1s cubic-bezier(cubic-bezier(0.215, 0.41, 0.325, 0.99));
    cursor: pointer;
}

.fog_2 {
    position: absolute;
    top: 58%;
    left: 65%;
    width: 150%;
    z-index: 4;
}

.sun_rays {
    position: absolute;
    z-index: 19;
    opacity: 0.2;
    pointer-events: none;
}

.black_shadow {
    position: absolute;
    z-index: 20;
    /* bottom: 0%; */
    top: 0%;
    left: 0%;
    /* right: 0%; */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.vignette {
    position: absolute;
    z-index: 21;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.7) 100%
    );
    pointer-events: none;
}

#dotsCanvas,
#starsCanvas,
#auroraCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    /* background-color: red; */
    /* z-index: 22; */
}

/* new css*/

.banner {
    height: 120vh;
    width: 180vw;
    margin-left: -40vw;
    margin-top: -10vh;
}

#text_parallax {
    font-weight: 50;
    /* font-size: 1rem; */
    line-height: 0.88;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* manual frame css */
.port {
    display: none;
    position: absolute;
    top: 0;
    background: transparent;
    color: #69b15e;
    height: 100%;
    z-index: 1;
    /* determines lines of web + scroll not working with this on rn*/
    /* pointer-events: none; */
}

.port iframe {
    width: 100%;
    height: 100%;
    border: none;
    /* determines lines of web */
    /* pointer-events: none; */
}
