.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #f56692;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  z-index: 22;
  width: 100%;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--clr-bg);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
  padding: 0 !important;
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  overflow: auto;
  line-height: 1.6rem;
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
  animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controlls {
  position: fixed;
  z-index: 23;
  /* top 50 to bring in center */
  top: 7%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controlls .active-btn {
  display: none;
  background-color: var(--color-grey-5) !important;
  /* transition: all 0.4s ease-in-out; */
}

.controlls .control:hover {
  border-radius: 39% 15% 20% 65%/15% 20% 78% 20%;
  background-color: transparent;
  border: 2px solid hsl(206, 3%, 45%);
}

.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  cursor: pointer;
  /* uncomment to display all buttons */
  /* display: flex; */
  text-transform: lowercase;
  font-weight: 100;
  font-size: 14px;
  color: #cfc0b0;
  text-shadow: #12181b 0px 5px 10px;
  padding: 0.2rem 0.6rem 0.2rem 0.8rem;
  margin: 0.7rem 1rem;
  box-shadow: var(--box-shadow-1);
  font-family: cursive;
  text-decoration: dotted;
  padding-bottom: 3px;
  border-radius: 20% 45% 20% 5%/5% 20% 25% 60%;
  border: 2px solid hsl(210, 2%, 24%);
  background-color: transparent;
}
