.port {
    display: none;
    position: absolute;
    top: 0;
    left: 25%;
    background: transparent;
    color: #69b15e;
    /* margin: 5% 25%; */
    width: 50%;
    height: 100%;
    z-index: 1;
    /* determines lines of web + scroll not working with this on rn*/
    /* pointer-events: none; */
}

.port iframe {
    width: 100%;
    height: 100%;
    border: none;
    /* determines lines of web */
    /* pointer-events: none; */
}
