body {
  color: #b6b6b6;
  background-color: #141418;
  margin: 0;
  padding: 0;
}

main {
  overflow: auto;
  color: var(--text-primary);
  line-height: 1.6rem;
  width: 100%;
}

/* header ul a {
  border-radius: 0px;
  border: 1px solid var(--clr-dark-light);
  box-shadow: inset 0 0 10px var(--clr-dark-light);
} */

body {
  background: #141418;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30ff00);
}
/* copied from last */

p {
  font-size: 19px;
  /* white-space: pre-line;
    white-space:pre-wrap; */
}

.styleAnchor {
  margin-left: 5px;
  background: #141418 !important;
  padding: 3px;
  text-align: center;
  border-radius: 2px;
  color: #baded0;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
}

h1 {
  font-size: 29px;
  font-family: "Open Sans";
  color: #baded0;
}
h2 {
  font-size: 23px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #cfc0b0;
  margin: 0 0 10px;
}
.logoe {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0ch;
  margin-left: 0rem;
  border-radius: 8px;
}
.logoee {
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0ch;
  margin-left: 0rem;
  border-radius: 8px;
  text-align: left;
}
/* ul {
  margin-left: 30px;
}

ol {
  margin-left: 30px;
} */

.timelineList {
  margin-top: 20px;
}

.button {
  border-style: ridge;
  border-color: #1e1e24;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  background-color: aqua;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0rem;
}

/* portfolio page */
.portAnchor {
  background: #23232e !important;
  padding: 10px;
  text-align: start;
  border-radius: 3px;
  color: #cfc0b0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;

  text-decoration: none;
  transition: 200ms;
}
.portAnchor:hover {
  background: #141418;
  color: #cfc0b0;
  font-size: 15px !important;
}
.simpleAnchor {
  margin: 0;

  padding: 0px;
  text-align: center;
  border-radius: 3px;
  color: #c1dfbd;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}
.zoom {
  padding: 0px;
  background-color: green;
  transition: transform 0.2s; /* Animation */
  width: auto;
  height: auto;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a {
  text-decoration: none;
}

.publishinputs {
  display: flex;
  justify-content: space-around;
}

.pubinput {
  background: var(--bg-secondary);
  padding: 0;
}
#loginpub {
  margin-top: 10%;
}
.form {
  display: flex;
  flex-direction: column;
}
#divleft {
  width: 22%;
  background-color: #23232e;
  float: left;
}
#divright {
  width: 22%;
  background-color: #23232e;
  float: right;
}
#middle {
  width: 50%;
  margin: 0 auto;
}
/* Small screens */
@media (max-width: 870px) {
  /* for ad at top of posts increse height */
  #middle {
    width: 100%;
    margin: 20px;
  }
  #divright {
    display: none;
  }

  #divleft {
    display: none;
  }

  .media-scroller::-webkit-scrollbar {
    width: 0%;
  }

  #publishTitle {
    width: 100%;
    height: 4%;
  }
  #publishBody {
    width: 100%;
    height: 18%;
  }
  .logoe {
    width: 100%;
  }
  .cardHolder {
    display: block;
  }
  .card {
    width: 100%;
    height: min-content;
  }
  .card-paragrapgh {
    height: auto;
  }

  .publishinputs {
    flex-direction: column;
  }
  .pubinput {
    width: 100%;
    height: min-content;
  }
  #loginpub {
    margin: auto;
  }
}
