@media (max-width: 1100px) {
    #text_parallax {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    #text_parallax {
        font-size: 1.2rem;
    }
}

@media (max-width: 520px) {
    #text_parallax {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    #text_parallax {
        font-size: 0.8rem;
    }
}
