@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* dark mode variables */
:root {
    --clr-bg: #141418;
    --clr-white: #fff;
    --clr-white-1: #e2d2d2;
    --ff-primary: "Poppins", sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --loader: #14191e;
    --loader-1: #19191a;
}
body {
    font-family: var(--ff-primary);
    /* font-size: 1rem; */
    line-height: 1.5;
    color: var(--clr-white);
    background: var(--clr-bg);
    overflow: hidden;
}

/* Preloader */
#preLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--loader-1);
    background-image: url("../assets/preloader1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    z-index: 1000;
}

a {
    color: var(--clr-white-2);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}
