@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark mode variables */
:root {
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 23%, 18%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-dark-light: hsl(210, 2%, 22%);
  --clr-dark-dark: hsl(220, 8%, 15%);
  --clr-black: #222;
  --clr-white-2: #d2dae2;
  --clr-white-1: #e2d2d2;
  --ff-primary: "Poppins", sans-serif;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-white);
  background: var(--clr-black);
}

::selection {
  background: var(--clr-green-dark);
}

a {
  color: var(--clr-white-2);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

#logo {
  width: 100px;
  color: var(--clr-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

header {
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 0.4rem 0;
  border-bottom: 0px solid rgba(255, 255, 255, 0.1);
}
header nav {
  /* background-color: var(--clr-black); */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul a {
  color: var(--clr-white-2);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.search {
  font-size: 1.05rem;
  padding: 0 3rem;
}
.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  background-color: var(--clr-dark-light);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}
.hamburger .bar {
  width: 52%;
  height: 1.3px;
  color: #fff;
  background-color: var(--clr-white);
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  height: 100%;
  transform: translateX(-50%);
  background-color: inherit;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  top: 4.5px;
}

main {
  position: relative;
  background-color: var(--clr-black);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(cubic-bezier(0.215, 0.41, 0.325, 0.99));
}

.bg_img {
  position: absolute;
  top: 1.94%;
  left: 50%;
  width: 120%;
  height: 180%;
  z-index: 1;
}

.fog_1 {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 222%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
}

.mountain_10 {
  position: absolute;
  top: 56%;
  /* top: calc(50% + 69px); */
  /* left: calc(50% + 130px); */
  left: 64%;
  width: 60%;
  /* height: 870px; */
  /* transform: translate(-50%, -50%); */
  z-index: 3;
}

.fog_2 {
  position: absolute;
  /* top: calc(50% + 95px); */
  top: 58%;
  /* left: calc(50% + 117px); */
  left: 62%;
  width: 150%;
  /* height: 1833px; */
  /* transform: translate(-50%, -50%); */
  z-index: 4;
}

.mountain_9 {
  position: absolute;
  /* top: calc(50% + 119px); */
  top: 62%;
  /* left: calc(50% - 457px); */
  left: 22%;
  width: 28%;
  /* height: 463px; */
  /* transform: translate(-50%, -50%); */
  z-index: 5;
}

.mountain_8 {
  position: absolute;
  /* top: calc(50% + 6px); */
  top: 50%;
  /* left: calc(50% - 282px); */
  left: 38%;
  /* width: 786px; */
  width: 40%;
  /* height: 786px; */
  /* transform: translate(-50%, -50%); */
  z-index: 6;
}

.fog_3 {
  position: absolute;
  /* top: calc(50% + 11px); */
  top: 50%;
  /* left: calc(50% + 129px); */
  left: 64%;
  /* width: 449px; */
  width: 23%;
  /* height: 449px; */
  /* transform: translate(-50%, -50%); */
  z-index: 7;
}

.mountain_7 {
  position: absolute;
  /* top: calc(50% + 34px); */
  top: 52%;
  /* left: calc(50% + 245px); */
  left: 62%;
  /* width: 515px; */
  width: 26%;
  /* height: 515px; */
  /* transform: translate(-50%, -50%); */
  z-index: 8;
}

.text {
  position: absolute;
  /* top: calc(50% - 130px); */
  top: 32%;
  left: 50%;
  /* width: 2100px; */
  width: 200%;
  /* transform: translate(-50%, -50%); */
  z-index: 9;
  text-align: center;
  text-transform: uppercase;
  pointer-events: auto;
  color: var(--clr-white);
}

.text h2 {
  font-weight: 100;
  font-size: 6.5rem;
}

.text h1 {
  font-weight: 800;
  font-size: 9rem;
  line-height: 0.88;
}

.mountain_6 {
  position: absolute;
  /* top: calc(50% + 116.5px); */
  top: 60%;
  /* left: calc(50% + 500px); */
  left: 78%;
  /* width: 583.5px; */
  width: 28%;
  /* height: 783.5px; */
  /* transform: translate(-50%, -50%); */
  z-index: 10;
}

.fog_4 {
  position: absolute;
  /* top: calc(50% + 242px); */
  top: 70%;
  /* left: calc(50% - 164px); */
  left: 42%;
  /* width: 653px; */
  width: 33%;

  /* transform: translate(-50%, -50%); */
  z-index: 11;
}

.mountain_5 {
  position: absolute;
  /* top: calc(50% + 319px); */
  top: 70%;
  /* left: calc(50% - 90px); */
  left: 48%;
  /* width: 683px; */
  width: 35%;
  /* height: 683px; */
  /* transform: translate(-50%, -50%); */
  z-index: 12;
}

.fog_5 {
  position: absolute;
  /* top: calc(50% + 149px); */
  top: 56%;
  /* left: calc(50% - 28px); */
  left: 52%;
  /* width: 1435px; */
  width: 73%;
  /* transform: translate(-50%, -50%); */
  z-index: 13;
}

.mountain_4 {
  position: absolute;
  /* top: calc(50% + 241px); */
  top: 78%;
  /* left: calc(50% - 411.5px); */
  left: 29%;
  /* width: 917px; */
  width: 47%;
  /* height: 685px; */
  /* transform: translate(-50%, -50%); */
  z-index: 14;
}

.mountain_3 {
  position: absolute;
  /* top: calc(50% + 33px); */
  top: 52%;
  /* left: calc(50% + 676px); */
  left: 94%;
  /* width: 519px; */
  width: 29%;
  /* height: 100vh; */
  /* transform: translate(-50%, -50%); */
  z-index: 15;
}

.fog_6 {
  position: absolute;
  /* top: calc(50% + 277px); */
  top: 92%;
  /* left: calc(50% - 330px); */
  left: 33%;
  /* width: 1418px; */
  width: 73%;
  /* height: 449px; */
  /* transform: translate(-50%, -50%); */
  z-index: 16;
}

.mountain_2 {
  position: absolute;
  /* top: calc(50% + 258px); */
  top: 94%;
  /* left: calc(50% + 282px); */
  left: 60%;
  /* width: 945px; */
  width: 48%;
  /* height: 535px; */
  /* transform: translate(-50%, -50%); */
  z-index: 17;
}

.mountain_1 {
  position: absolute;
  /* top: calc(50% + 71.5px); */
  top: 55%;
  /* left: calc(50% - 671px); */
  left: 8%;
  /* width: 650px; */
  width: 33%;
  /* height: 100vh; */
  /* transform: translate(-50%, -50%); */
  z-index: 18;
}

.sun_rays {
  position: absolute;
  z-index: 19;
  top: 0%;
  right: 0%;
  /* width: 595px; */
  width: 30%;
  pointer-events: none;
}

.back_shadow {
  position: absolute;
  z-index: 20;
  bottom: 0%;
  right: 0%;
  width: 100%;
  pointer-events: none;
}

.fog_7 {
  position: absolute;
  z-index: 21;
  top: calc(100% - 355px);
  left: 50%;
  /* width: 1600px; */
  width: 82%;
  /* transform: translate(-50%, -50%); */
}

.vignette {
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
}

@media (max-width: 1100px) {
  .text h1 {
    font-size: 5.8rem;
  }

  .text h2 {
    font-size: 4.7rem;
  }
  .bg-img {
    width: initial;
    height: 355%;
  }

  .mountain_1 {
    width: initial;
    height: 100%;
  }

  .mountain_2 {
    width: initial;
    height: 100%;
  }

  .mountain_3 {
    width: initial;
    height: 100%;
  }

  .mountain_4 {
    width: initial;
    height: 100%;
  }

  .mountain_5 {
    width: initial;
    height: 100%;
  }

  .mountain_6 {
    width: initial;
    height: 100%;
  }

  .mountain_7 {
    width: initial;
    height: 100%;
  }

  .mountain_8 {
    width: initial;
    height: 100%;
  }

  .mountain_9 {
    width: initial;
    height: 100%;
  }

  .mountain_10 {
    width: initial;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 4rem;
    line-height: 1.1;
  }

  .text h2 {
    font-size: 3rem;
    line-height: 1.1;
  }

  header nav {
    padding: 0 1rem;
  }

  .logo {
    width: 80px;
  }

  header ul a {
    padding: 0 0.9rem;
    font-size: 0.73rem;
  }

  .search a {
    font-size: 0.85rem;
    padding: 0 1.8rem;
  }

  .hamburger {
    padding-left: 0.9rem;
  }

  .hamburger a {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 520px) {
  .text h1 {
    font-size: 3.3rem;
  }

  .text h2 {
    font-size: 2.5rem;
  }

  .mountain_1 {
    top: 80%;
  }

  .mountain_2 {
    top: 90%;
  }

  .mountain_3 {
    top: 80%;
  }

  .mountain_4 {
    top: 94%;
  }

  .mountain_5 {
    top: 85%;
  }

  .mountain_6 {
    top: 60%;
  }

  .mountain_7 {
    top: 50%;
  }

  .mountain_8 {
    top: 50%;
  }

  .mountain_9 {
    top: 50%;
  }

  .mountain_10 {
    top: 50%;
  }
}

@media (max-width: 420px) {
  .text h1 {
    font-size: 3rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  /* responsive main on mobile */
}
