:root {
	font-size: 19px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--h1-color: #baded0;
	--h2-color: #cfc0b0;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

h1 {
	font-size: 29px;
	font-family: "Open Sans";
	color: var(--h1-color);
}
h2 {
	font-size: 23px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: var(--h2-color);
}
h3 {
	font-size: 21px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	color: var(--text-primary);
}

body {
	color: #b6b6b6;
}
body::-webkit-scrollbar {
	width: 0px;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar-track {
	background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-secondary);
}

p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

li {
	line-height: 130%;
}

a {
	margin: 0;

	padding: 0px;
	text-align: center;
	border-radius: 3px;
	color: #c1dfbd;
	cursor: pointer;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
}

pre {
	background-color: #101013;
	border-radius: 2%;
}
