---
import Manual from "./Manual.astro"
---

<div
  id="container"
  class="bg-zinc-900 bg-cover bg-scroll bg-center bg-no-repeat"
>
  <div
    class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5"
  >
    <Manual />
  </div>
</div>

<script src="../js/matrix1.js"></script>
