---
import Manual from "./Manual.astro"
---

<div id="container" class="relative bg-black top-0 left-0 h-full w-full">
  <!-- This div will act as the container for the SVG background -->
  <div id="svg-background" class="absolute top-0 left-0 w-full h-full"></div>
  <div
    class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5 z-10 relative"
  >
    <Manual />
  </div>
</div>

<script src="../js/matrix1.js"></script>
