---

---

<!-- Manual.astro -->
<div class="wrapper active" id="manpage">
  <link rel="stylesheet" href="../styles/manual.css" />
  <div class="mp" id="man">
    <ol class="man-decor man-head man head">
      <li class="tl">achyut_koirala(1)</li>
      <li class="tc"></li>
      <li class="tr">achyut_koirala(1)</li>
    </ol>

    <h2 id="NAME">NAME</h2>
    <p class="man-name">
      <code>achyut_koirala</code> -
      <span class="man-whatis">🇳🇵 </span>
    </p>
    <h2 id="SYNOPSIS">SYNOPSIS</h2>

    <p>
      <code>major</code>
      <code>--developer</code> backend <br />
      <code>major</code>
      <code>--tester</code> web_app apis<br />
      <code>major</code>
      <code>--contributor</code> open_source<br />
      <code>major</code>
      <code>--leader</code><br />
      <code>major</code>
      <code>--other</code><br />
    </p>

    <h2 id="DESCRIPTION">DESCRIPTION</h2>

    <p>
      Achyut is a Backend Engineer with skills in application development, APIs
      testing & implementation, database administration, and leadership. He
      enjoys contributing to open source, connecting with like minded peoples
      and literating people on open source technology and solutions. He is
      familiar with, and a huge supporter of, the digital security and online
      privacy and rights.
    </p>
    <p>
      He previously worked with technologies like Typescript, GraphQL, Angular
      at @Hyperce. He also worked with Golang, Zig and C++ in his personal
      projects. He has experience in developing and maintaining APIs, writing
      tests, and deploying applications. He has also worked with databases like
      PostgresSQL, MongoDB, and Redis. He has keen interest on working in the
      field of Microservices, Blockchain and Cyber Security.
    </p>

    <p>
      Achyut is Certified in Azure AZ-900, IBM's Project Management and other
      certifications. He sometimes does Freelancing and is open to work on your
      projects. He is also a part-time Hunter on Bugcrowd and Hackerone.
      Achyut's past experiences allows him to troubleshoot, configure linux
      systems and servers.
    </p>

    <h2 id="OPTIONS">OPTIONS</h2>

    <ul>
      <li>
        <p><code>--developer backend 🗿</code></p>

        <p>
          Writes lots of open source software on
          <a href="https://github.com/axyut">GitHub</a> and
          <a href="https://gitlab.com/axyut">GitLab</a>, in Go, Node, Zig, C,
          C++, Rust. Familiar with technologies like Docker, Kubernetes, NATS,
          gRPCs, REST, GraphQL, HTMX, QA, CI/CD, bash, vim and more. Also, love
          tinkering with Arduino and IoT devices.
        </p>
      </li>
    </ul>
    <!-- <ul>
            <li>
                <p><code>--contributor</code></p>

                <p>Served on the Fedora Project Board from 2012-2014.</p>

                <p>
                    Maintains
                    <a href="https://src.fedoraproject.org/user/mhayden"
                        >several Fedora Linux packages</a
                    >.
                </p>
            </li>
        </ul> -->
    <ul>
      <!-- <li>
                <p><code>--educator</code></p>

                <p>
                    Maintains a blog at
                    <a href="https://major.io/">major.io</a> that includes
                    technical, career growth, personal development, and
                    investing topics.
                </p>

                <p>
                    Compiled and taught classes covering various systems
                    administration topics including MySQL database
                    administration, SSL certificates, and server security.
                </p>
            </li> -->
      <li>
        <p><code>--tester apis</code></p>

        <p>
          Participates in CTFs, Hackathons and does Bug Hunting from time to
          time. Experience in testing APIs, writing test cases.
        </p>
      </li>
      <li>
        <p><code>--leader</code></p>

        <p>
          Comfortable leading groups of technical people in customer-facing
          environments. Familiar with the agile development methodology and
          sprint planning, release planning, and change management coordination.
        </p>
      </li>
      <li>
        <p><code>--other</code></p>

        <p>
          Published several blogs and
          <a href="https://axyut.github.io/writeups" target="_blank"
            >writeups.</a
          >.
        </p>
        <p>
          <a href="https://axyut.github.io/writeups/present" target="_blank"
            >Presentations</a
          >
          on Open Source and Cyber Security.
        </p>

        <p>
          Share-worthy projects:
          <a href="https://axyut.github.io/cold" target="_blank"
            >CLI Music Player.</a
          >
          <a href="https://github.com/axyut/ticket_booking_app" target="_blank"
            >Microservice in Node with NATS</a
          >
          <a href="https://axyut.github.io/gameTheory" target="_blank"
            >Game Theory</a
          >
          <a href="https://github.com/axyut/vanarakshak-osm" target="_blank"
            >Vanarakshak</a
          >
        </p>
      </li>
    </ul>

    <h2 id="HISTORY">HISTORY</h2>

    <ul>
      <li>
        <p>Freelance <em>2024 Jan - Present</em></p>

        <ul>
          <li>
            Delivered Projects with technologies like Typescript, Go, NATS,
            HTMX, Testing GraphQL, REST, gRPCs.
          </li>
          <li>Communication with Client on GitHub Issues and Bug Fixes.</li>
        </ul>
      </li>
      <li>
        <p>Hyperce <em>2023 Aug - Oct</em></p>

        <ul>
          <li>
            Developed, Implemented and Tested APIs onto different Ecomm
            services.
          </li>
          <li>Configured Algolia, Typesense and ElasticSearch.</li>
        </ul>
      </li>
    </ul>
    <h2 id="KNOWN-BUGS">KNOWN BUGS</h2>

    <p>
      Achyut has once <code>rm -rf /</code> his personal computer. [2023]
    </p>
    <p>
      <code>Kali</code> has HUMBLED Achyut by destroying his Hard drive. [2019]
    </p>
    <p>Achyut has too many <code>free</code> certifications.</p>

    <h2 id="SEE-ALSO">SEE ALSO</h2>

    <ul>
      <li>
        Email:
        <a href="mailto:mail@achyutkoirala.com.np" data-bare-link="true"
          >mail@achyutkoirala.com.np</a
        >
      </li>
      <li>Phone: +977 (XX-XXX-XXX)</li>
      <li>
        Twitter:
        <a href="https://x.com/achyut_koirala" target="_blank">achyut_koirala</a
        >
      </li>
      <li>
        LinkedIn:
        <a href="https://linkedin.com/in/axyut" target="_blank">axyut</a>
      </li>
      <li>
        GitHub:
        <a href="https://github.com/axyut" target="_blank">axyut</a>
      </li>
      <li>
        Gitlab:
        <a href="https://gitlab.com/axyut" target="_blank">axyut</a>
      </li>
    </ul>

    <h2 id="COPYRIGHT">COPYRIGHT</h2>
    <p>
      <code>achyut_koirala</code> is &copy;2024 by
      <a href="https://achyutkoirala.com.np" target="_blank"
        >achyutkoirala.com.np</a
      >.
    </p>
    <h2 id="AUTHOR">AUTHOR</h2>
    <p>
      Written and maintained by
      <a href="https://github.com/axyut/axyut.github.io" target="_blank"
        >@axyut</a
      >.
    </p>
    <p>
      <br />
      <a href="#manpage">Back to Top</a>
    </p>
    <ol class="man-decor man-foot man foot">
      <li class="tl"></li>
      <li class="tc">June 2024</li>
      <li class="tr">achyut_koirala(1)</li>
    </ol>
  </div>

  <br /><br />
  <br /><br />
</div>
