---

---

<!-- Manual.astro -->
<div class="wrapper" id="manpage">
  <link rel="stylesheet" href="../styles/manual.css" />
  <div class="mp" id="man">
    <ol class="man-decor man-head man head">
      <li class="tl">
        <a href="/" id="makered">achyut_koirala(X)</a>
      </li>
      <li class="tc" id="matrixer" style="cursor: pointer;">matrix?</li>
      <li class="tr"><a id="makered1" href="/">achyut_koirala(X)</a></li>
    </ol>

    <h2 id="NAME">NAME</h2>
    <p class="man-name">
      <code>achyut_koirala</code> -
      <span class="man-whatis">🇳🇵 </span>
    </p>
    <h2 id="SYNOPSIS">SYNOPSIS</h2>

    <p>
      <code>major</code>
      <code>--developer</code> backend <br />
      <code>major</code>
      <code>--tester</code> apis<br />
      <code>major</code>
      <code>--contributor</code> open_source<br />
      <code>major</code>
      <code>--leader</code> bosc<br />
      <code>major</code>
      <code>--other</code><br />
    </p>

    <h2 id="DESCRIPTION">DESCRIPTION</h2>

    <p>
      Achyut is a Backend Engineer with skills in application development, APIs
      testing & implementation, database administration, and leadership. He
      enjoys contributing to open source, connecting with like minded peoples
      and literating people on open source technology and solutions. He is
      familiar with, and a supporter of, the digital security rights and
      privacy.
    </p>
    <p>
      He previously worked with technologies like Typescript, GraphQL, Angular.
      He also worked with Golang, Zig and C++ in his personal projects. He has
      experience in developing and maintaining APIs, writing tests, and
      deploying applications. He has also worked with databases like
      PostgresSQL, MongoDB, and Redis. He has keen interest on working in the
      field of Microservices, Blockchain and Cyber Security.
    </p>

    <p>
      Achyut is Certified in Azure AZ-900, IBM's Project Management, Google's
      Cybersecurity Professional and other certifications. He sometimes does
      Freelancing and is open to work on your projects. He is also a part-time
      Hunter on Bugcrowd and Hackerone. Achyut's past experiences allows him to
      troubleshoot, configure linux systems and servers.
    </p>

    <h2 id="OPTIONS">OPTIONS</h2>

    <ul>
      <li>
        <p><code>--developer</code></p>

        <p>
          Writes lots of open source software on
          <a href="https://github.com/axyut">GitHub</a> and
          <a href="https://gitlab.com/axyut">GitLab</a>, in Go, Node, Zig, C,
          C++. Familiar with technologies like Docker, Kubernetes, NATS, gRPCs,
          REST, GraphQL, HTMX, QA, CI/CD, bash, vim and more. Also, love
          tinkering with Arduino and IoT devices.
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <p><code>--tester</code></p>

        <p>
          Participates in CTFs, Hackathons and does Bug Hunting from time to
          time. Experience in testing APIs, writing test cases.
        </p>
      </li>
      <li>
        <p><code>--leader</code></p>

        <p>
          Comfortable leading groups of technical people in customer-facing
          environments. Familiar with the agile development methodology and
          sprint planning, release planning, and change management coordination.
        </p>
      </li>
      <li>
        <p><code>--other</code></p>

        <p>
          Published several blogs and
          <a href="https://axyut.github.io/writeups" target="_blank"
            >writeups.</a
          >.
        </p>
        <p>
          <a href="https://axyut.github.io/writeups/present" target="_blank"
            >Presentations</a
          >
          on Open Source and Cyber Security.
        </p>

        <p>
          Share-worthy projects:
          <a href="https://axyut.github.io/cold" target="_blank"
            >CLI Music Player.</a
          >
          <a href="https://github.com/axyut/ticket_booking_app" target="_blank"
            >Microservice in Node with NATS</a
          >
          <a href="https://axyut.github.io/gameTheory" target="_blank"
            >Game Theory</a
          >
          <a href="https://github.com/axyut/vanarakshak-osm" target="_blank"
            >Vanarakshak</a
          >
        </p>
      </li>
    </ul>

    <h2 id="HISTORY">HISTORY</h2>

    <ul>
      <li>
        <p>
          Chief Operating Officer | <a
            href="https://digitalforensicuk.com"
            target="_blank"
            rel="noopener noreferrer">DigitalForensic UK</a
          >
          <em>2025 Jan - Present</em>
        </p>

        <ul>
          <li>
            Managing Director at <a
              href="https://cyberalertnepal.com"
              target="_blank"
              rel="noopener noreferrer">CyberAlert Nepal</a
            >, a subsidiary of DigitalForensic UK.
          </li>
          <li>
            Leading a team of 10+ developers, testers, and designers to develop
            and maintain the company's digital forensic software.
          </li>
          <li>
            Developed and maintained the company's website, APIs, and
            applications.
          </li>
        </ul>
      </li>
      <li>
        <p>
          President | <a
            href="https://bosc.org.np"
            target="_blank"
            rel="noopener noreferrer">BOSC</a
          >
          <em>2023 Jul - Present</em>
        </p>

        <ul>
          <li>
            Leading a student-driven tech community focused on promoting Free
            and Open Source Software (FOSS). Responsible for strategic planning,
            mentoring members, organizing workshops, and fostering
            collaborations to empower students
          </li>
          <li>
            Organized 30+ Free events, workshops, and hackathons that reached
            1000+ audience across Nepal.
          </li>
        </ul>
      </li>
      <li>
        <p>Freelancer | Upwork <em>2024 Apr - 2024 Sep</em></p>

        <ul>
          <li>
            Identifying and reporting Security vulnerabilities and bug bounty
            hunting
          </li>
          <li>Communication with Client on GitHub Issues and Bug Fixes.</li>
        </ul>
      </li>
      <li>
        <p>
          Software Developer |
          <a href="https://hyperce.io" target="_blank" rel="noopener noreferrer"
            >Hyperce</a
          >
          <em>2023 Aug - Oct</em>
        </p>

        <ul>
          <li>
            Developed, Implemented and Tested APIs onto different Ecomm
            services. Configured Algolia, Typesense and ElasticSearch.
          </li>
          <li>
            Worked with technologies like Vendure, GraphQL, Typescript, Angular
            and TypeORM and learned internal mechanisms of the e-commerce
            company.
          </li>
        </ul>
      </li>
    </ul>
    <h2 id="KNOWN-BUGS">KNOWN BUGS</h2>

    <p>
      Achyut has once <code>rm -rf /</code> his personal computer.🗿 [2023]
    </p>
    <p>
      <code>Kali</code> has HUMBLED Achyut by destroying his Hard drive.🗿 [2019]
    </p>
    <p>Achyut has too many <code>free</code> certifications.🗿</p>

    <h2 id="SEE-ALSO">SEE ALSO</h2>

    <ul>
      <li>
        Email:
        <a href="mailto:mail@achyutkoirala.com.np" data-bare-link="true"
          >mail@achyutkoirala.com.np</a
        >
      </li>
      <li>Phone: +977 (XX-XXX-XXX)</li>
      <li>
        Twitter:
        <a href="https://x.com/achyut_koirala" target="_blank">achyut_koirala</a
        >
      </li>
      <li>
        LinkedIn:
        <a href="https://linkedin.com/in/axyut" target="_blank">axyut</a>
      </li>
      <li>
        GitHub:
        <a href="https://github.com/axyut" target="_blank">axyut</a>
      </li>
      <li>
        Gitlab:
        <a href="https://gitlab.com/axyut" target="_blank">axyut</a>
      </li>
    </ul>

    <h2 id="COPYRIGHT">COPYRIGHT</h2>
    <p>
      <code>achyut_koirala</code> is &copy;2024 by
      <a href="https://achyutkoirala.com.np" target="_blank"
        >achyutkoirala.com.np</a
      >.
    </p>
    <h2 id="AUTHOR">AUTHOR</h2>
    <p>
      Written and maintained by
      <a href="https://github.com/axyut/axyut.github.io" target="_blank"
        >@axyut</a
      >.
    </p>
    <p>
      <br />
      <a href="#manpage">Back to Top</a>
    </p>
    <ol class="man-decor man-foot man foot">
      <li class="tl"></li>
      <li class="tc">June 2024</li>
      <li class="tr"><a id="makered1" href="/">achyut_koirala(X)</a></li>
    </ol>
  </div>

  <br /><br />
  <br /><br />
</div>
