---
import Avatar from "./Avatar.astro"
import Details from "./Details.astro"
import Socials from "./Socials.astro"
---

<div
  class="bg-zinc-100 bg-horizonAnimated bg-cover bg-scroll bg-center bg-no-repeat"
>
  <div
    class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5"
  >
    <Avatar />
    <Details />
    <Socials />
  </div>
</div>
